.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
  background-color:#d6e6f2;
  background-color: orange;
}

.error-message {
  font-size: 1.3vw;
  list-style: square;
  color: rgb(182, 48, 0);
}
