.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
  background-color:rgb(217, 255, 0);
  background-color:rgba(0, 102, 255, 0.822);
}

.error-message {
  font-size: 1.3vw;
  list-style: square;
  color: rgb(182, 48, 0);
}
