.form-wrap {
  width: 100%;
  height: 100%;
  align-items: center;
}

.form-header {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

.form-header-text {
  border-bottom: 5px solid #eee;
}

.post-income-text {
  text-decoration: none;
  color:black;
}

.form-content {
  height: 90vh;
  width: 100%;
  margin: auto;
}


.form-date {
  height: 100px;
  width: 100vw;
  text-align: center;
  margin-top: 10px;
}

.control-label {
  font-size: 20px;
}

.form-control {
  font-size: 20px;
}

.form-category {
  height: 100px;
  text-align: center;
  width: 100vw;
  margin-top: 5px;
}

.upper-form {
  height: 100px;
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.lower-form {
  height: 100px;
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 25px auto 0 auto;
}

.category-income-container {
  margin: 10px 10px;
} 



.radio-btn {
  display: none;
}


.form-letter {
  font-size: 20px;
}

.form-price {
  height: 80px;
  width: 70vw;
  text-align: center;
  margin: 150px auto 50px auto;
  padding-top: 30px;
}

.price-input {
  height: 50px;
  width: 30%;
  text-align: right;
  padding-right: 10px;
  font-size: 130%;
  border: 5px solid #eee;

}

.income-yen {
  font-size: 20px;
}

.form-memo {
  height: 200px;
  text-align: center;
  margin: 2px auto 5px auto;
  width: 80%;
  padding-top: 30px;
}

.memo-input {
  height: 70px;
  width: 50%;
  font-size: 120%;
  border: 5px solid #eee;
}

.income-memo {
  font-size: 20px;
  margin: 10px;
  height: 10px;
}

.form-submit {
  height: 60px;
  width: 100vw;
  text-align: center;
  margin: 2px auto 0 auto;
  background-color: white;

}
.submit-red-btn {
  height: 50px;
  width: 120px;
  background-color: #eee;
  border: 3px solid white;
  text-decoration: inherit;
	background: #20b2aa;
	box-shadow: 0 6px 0 #047c71, 0 12px 0 rgba(0,0,0,.2);
  /* transition: color .3s, background .3s, box-shadow .3s, transform 0.3s; */
}

.btn:hover {
	background: #3cc4bd;
	box-shadow: 0 3px 0 #12978d, 0 6px 0 rgba(0,0,0,.2);
	transform: translateY(3px);
}

.submit-red-btn:active {
	color: #ddd;
	background: #12978d;
	box-shadow: 0 0 0 #047c71, 0 0 0 rgba(0,0,0,.2);
	transform: translateY(6px);
	transition-duration: .1s;
}

.field_with_errors {
  display: contents;
}

