.form-wrap {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  align-items: center;
}

.form-header {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  background-color: white;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}


.form-date {
  height: 100px;
  background-color: white;
  margin-top: 10px;
}

.control-label {
  font-size: 20px;
}

.form-control {
  font-size: 20px;
}