.simple-calendar {
  width: 100vw;
  height: 100vh;
 }

.calendar-content {
  width: 100%;
  height: 100%;
}

 

.calendar-category {
  width: 100%;
  height: 100%;
}

.calendar_link {
  text-decoration: none;
  font-size: 20px;
  color: black;
  position: relative;
  display: inline-block;
  transition: .3s;
}

.calendar_link::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #31aae2;
  transition: .3s;
  transform: translateX(-50%);
}

.calendar_link:hover::after{
  width: 100%;
}

.calendar_link_price {
  text-decoration: none;
  color: black;
}
