* {
  box-sizing: border-box;
}


.header_a {
  color: #fff;
  background: palevioletred;
}
.header_a > .container {
  height: 60px;
  display: flex;
  align-items: center;
  max-width: none;
}

/* ロゴ */
.area_logo_header {
  display: flex;
  margin-left: 40px;
  align-items: center;
}

.area_logo_header .title-name {
  color: white;
  text-decoration: none;
  font-size: 40px;
  font-family: cursive;
  font-weight: bolder;
}

.area_logo_header .post {
  color: white;
  text-decoration: none;
  text-align: center;

}

.area_logo_header .logo {
  display: block;
}
.area_logo_header .logo img {
  height: 10px;
  vertical-align: bottom;
  margin-left: 30px;
}

/* ナビゲーション */
.area_nav_header {
  margin-left: auto;
}

/* リストナビ */
.list_nav_header {
  display: flex;
  align-items: center;
}
.list_nav_header > li + li {
  margin: 0 40px;
}
.list_nav_header a {
  color: #fff;
  font: 500 15px/1em 'noto sans japanese',sans-serif;
}

.link_under_line {
  text-decoration: none;
}
.list_nav_header .btn_contact {
  color: #000;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 24px 0 48px;
  background: #0cf;
  border-radius: 2px;
  position: relative;
}
.list_nav_header .btn_contact:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/ico/ico_mail_black.svg) no-repeat center center ;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0,-50%);
}
