* {
  box-sizing: border-box;
}


.header_a {
  color: #fff;
  background: #20b2aa;
	box-shadow: 0 6px 0 #047c71, 0 12px 0 rgba(0,0,0,.1);
  
}
.header_a > .container {
  /* height: 60px; */
  display: flex;
  align-items: center;
  max-width: none;
}

/* ロゴ */
.area_logo_header {
  display: flex;
  margin-left: 40px;
  align-items: center;
}

.area_logo_header .title-name {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Noto Sans JP', sans-serif;

}

.area_logo_header .title-name:hover {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-5px);
  transition-duration: 0.5s;
}

.area_logo_header .post {
  color: white;
  text-decoration: none;
  text-align: center;
  margin-left: 40px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.area_logo_header .post:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-5px);
  transition-duration: 0.5s;
  background-color: #eee;
}

.area_logo_header .logo {
  display: block;
  margin-left: 30px;

}
.area_logo_header .logo img {
  height: 70px;
  vertical-align: bottom;
  margin-left: 30px;
}

/* ナビゲーション */
.area_nav_header {
  margin-left: auto;
}

/* リストナビ */
.list_nav_header {
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: space-between;
}
.list_nav_header > li + li {
  /* margin: 0 40px; */
}

.list_nav_header a {
  color: #fff;
  /* font: 500 15px/1em 'noto sans japanese',sans-serif; */
}

.link_under_line {
  text-decoration: none;
  font-size: 18px;
}

.list_nav_header .user-name {
  margin: 0 30px;
}

.list_nav_header .user-name:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-5px);
  transition-duration: 0.5s;
  background-color: #eee;
}

.list_nav_header .btn_contact {
  color: #000;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 24px 0 48px;
  background: #0cf;
  border-radius: 2px;
  position: relative;
}
.list_nav_header .btn_contact:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/ico/ico_mail_black.svg) no-repeat center center ;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0,-50%);
}

.post-nav {
  /* display: none; */
  margin-left: 10px;
  text-decoration: none;
}
