

.calendar-heading {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
}

.calendar-category {
  display: flex;

}

.calendar-content {
  margin-left: 2px;
}

.previous-letter {
  text-decoration: none;
  color: #20b2aa;
}

.next-letter {
  text-decoration: none;
  color: #20b2aa;
}


